.cubism-graph {
  .axis {
    font-size: 10px;
    position: relative;
    pointer-events: none;
    z-index: 2;
  }

  .axis text {
    transition: fill-opacity 250ms linear;
    -webkit-transition: fill-opacity 250ms linear;
    -moz-transition: fill-opacity 250ms linear;
    -o-transition: fill-opacity 250ms linear;
  }

  .axis path {
    display: none;
  }

  .axis line {
    stroke: #DDD;
    shape-rendering: crispEdges;
  }

  .axis.top {
    background-image: linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-gradient(top, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0) 100%);
    top: 0;
    padding: 0 0 24px 0;
  }

  .axis.bottom {
    background-image: linear-gradient(bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-gradient(bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
    bottom: 0;
    padding: 24px 0 0 0;
  }

  [data-module="horizon-graph"] + [data-module="horizon-graph"] .horizon {
    border-top: none;
  }

  .horizon {
    overflow: hidden;
    position: relative;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
  }

  .horizon + .horizon {
    border-top: none;
  }

  .horizon canvas {
    display: block;
    /* Disable unwanted selection */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    user-select: none;
  }

  .horizon .title, .horizon .value {
    bottom: 0;
    line-height: 30px;
    margin: 0 6px;
    position: absolute;
    text-shadow: 0 0 4px #fff;
    white-space: nowrap;
  }

  .horizon .title {
    left: 0;
  }

  .horizon .value {
    right: 0;
  }
}
