doctype html
html
  head
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, intitial-scale=1, user-scalable=no')
    title Willow
    link(rel='shortcut icon' href='img/favicon.png')
    <!-- vendor:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- vendor:js -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
  body
    div
      h1 Willow UI
